* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gainsboro;
    background-color: var(--dark);
}

:root {
    --dark: #242425;
    --brown: #896B5B;
    --blue: #2e4751;
    --light: #505b5e;
    --skyblue: #2b5f6d;
}

body {
    display: flex;
    flex-direction: column;
}

#phonetography {
    background-color: var(--light);
    text-decoration: none;
}

#principaleNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7vh;
    position: fixed;
    background-color: var(--light);
}

h3 {
    margin-top: 1.5vh;
    margin-left: 1vw;
    background-color: var(--light);
}

.contact {
    display: flex;
    flex-direction: row;
    margin-left: 77vw;
    background-color: var(--light);
    padding-right: 3vw;
}

.socialMedia {
    width: 2vw;
    height: 4.25vh;
    margin-top: 2vh;
    margin-right: 1vw;
    background-color: var(--light);
}

#secondNav {
    position: fixed;
    margin-top: 7vh;
    height: 6vh;
    width: 100%;
    background-color: var(--brown);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1vh;
    background-color: var(--light);
}

.category {
    background-color: var(--light);
    text-decoration: none;
    padding-inline: 14vw;
    height: 4vh;
    padding-top: 0.8vh;
    border-radius: 15px;
}

#plants {
    background-color: var(--dark);
}

#first {
    margin-top: 15vh;
}

.divImage1 {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 4vw;
    margin-block: 4vh;
}

.divImage2 {
    display: flex;
    flex-direction: row;
    padding-right: 4vw;
}

.image {
    height: 70vh;
    border-radius: 40px;
}

p {
    font-size: 2rem;
    margin-inline: 2vw;
}

footer {
    background-color: var(--skyblue);
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    padding-top: 4vh;
    margin-top: 4vh;
}

.footer {
    background-color: var(--skyblue);
    font-size: medium;
}

@media screen and (max-width: 415px) {
    #principaleNav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 7vh;
        position: fixed;
        background-color: var(--light);
    }
    .socialMedia {
        height: 20px;
        width: 20px;
    }
    .contact {
        display: flex;
        flex-direction: row;
        margin-left: 25vw;
        padding-left: 18vw;
        padding-right: 5vw;
        background-color: var(--light);
    }
    #secondNav {
        position: fixed;
        margin-top: 7vh;
        height: 6vh;
        width: 100vw;
        background-color: var(--brown);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    }
    .category {
        background-color: var(--light);
        text-decoration: none;
        padding-inline: 8vw;
        height: 4vh;
        border-radius: 15px;
    }
    .image {
        width: 70vw;
        height: 20vh;
        border-radius: 40px;
    }
    footer {
        padding-top: 2vh;
    }
}