* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #B0B6B7;
}

:root {
    --dark: #323c3f;
    --brown: #896B5B;
    --blue: #406371;
    --light: #B0B6B7;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/landscape/mandrosezaa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
}

h3 {
    margin-block: 1vh;
    margin-left: 1vw;
}

.contact {
    display: flex;
    flex-direction: row;
}

.socialMedia {
    width: 2vw;
    height: 4.25vh;
    margin-top: 2vh;
    margin-right: 1vw;
}

main {
    display: flex;
    flex-direction: row;
}

#introduction {
    height: 100vh;
}
#impression {
    font-size: 1.5rem;
    margin-top: 12vh;
    margin-left: 18vw;
    margin-bottom: 3vh;
}

#firstLine {
    margin-bottom: 2vh;
}

.button {
    font-size: 1.5rem;
    color: var(--dark);
    text-decoration: none;
}

#hireMe {
    margin-left: 5vw;
}

#allWorks {
    margin-left: 38vw;
}