* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gainsboro;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(images/landscape/mandroseza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
}

h3 {
    margin-block: 1vh;
    margin-left: 1vw;
}

.contact {
    display: flex;
    flex-direction: row;
}

.socialMedia {
    width: 2vw;
    height: 4.25vh;
    margin-top: 2vh;
    margin-right: 1vw;
}

main {
    display: flex;
    flex-direction: row;
}

#impression {
    font-size: 1.5rem;
    margin-top: 18vh;
    margin-left: 18vw;
}

#firstLine {
    margin-bottom: 2vh;
}

#hireMe {
    margin-top: 5vh;
    margin-left: 49vw;
}